name: CI

on:
  push:
    branches:
      # - main
      - testing
  pull_request:
    branches:
      # - main
      - testing

env:
  UT_DATA_DIRNAME: _ut_data
  INSTALL_PREFIX: /usr/local
  CM: "cmake -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_PREFIX_PATH=/usr/local -DCMAKE_MODULE_PATH=/usr/local/share/cmake/Modules/ -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON .."

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out uchronia repo
      uses: actions/checkout@v4
      with:
        repository: csiro-hydroinformatics/uchronia-time-series
        ref: testing
        path: uchronia-time-series
        # token: ${{ secrets.my_pat }}

    - name: Check out moirai repo
      uses: actions/checkout@v4
      with:
        repository: csiro-hydroinformatics/moirai
        ref: testing
        path: moirai
        # token: ${{ secrets.my_pat }}

    - name: Check out c-interop repo
      uses: actions/checkout@v4
      with:
        repository: csiro-hydroinformatics/c-interop
        ref: testing
        path: c-interop
        # token: ${{ secrets.my_pat }}

    - name: Check out config-utils repo
      uses: actions/checkout@v4
      with:
        repository: csiro-hydroinformatics/config-utils
        ref: testing
        path: config-utils
        # token: ${{ secrets.my_pat }}

    - name: Install moirai
      run: |
        cd moirai
        mkdir -p build && cd build
        $CM
        make -j$(nproc)
        sudo make install

    - name: Install config-utils material
      run: |
        cd config-utils
        sudo mkdir -p ${INSTALL_PREFIX}/share/cmake/Modules
        sudo cp ./cmake/Modules/* ${INSTALL_PREFIX}/share/cmake/Modules/
        cd ./catch
        mkdir -p build ; cd build
        $CM
        sudo make install

    - name: Install c-interop C++ headers
      run: |
        cd c-interop
        mkdir -p build && cd build
        $CM
        sudo make install

    - name: Build and install uchronia libs and headers
      run: |
        cd uchronia-time-series/datatypes
        mkdir -p build && cd build
        $CM
        sudo make install

    - name: ldconfig song and dance
      run: |
        sudo chmod +x ${INSTALL_PREFIX}/lib/*.so
        sudo ldconfig

    - name: Fetch test data
      run: |
        UT_DATA_DIR=${GITHUB_WORKSPACE}/${UT_DATA_DIRNAME}
        mkdir -p $UT_DATA_DIR
        cd $UT_DATA_DIR
        curl -o swift_test_data.7z ftp://ftp.csiro.au/hfc/swift_test_data.7z
        # sudo apt-get install p7zip-full
        7zr x swift_test_data.7z

    - name: Build/run unit tests
      run: |
        cd uchronia-time-series/tests
        mkdir -p build ; cd build
        $CM
        make
        export SWIFT_TEST_DIR=${GITHUB_WORKSPACE}/${UT_DATA_DIRNAME}/documentation
        ./datatypes_tests

